.head {
  width: 100%;
  height: 92vh;
  background-color: rgb(65, 70, 69);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./images/coverphoto.jpg");
  background-position: center;
  background-size: cover;
}

.coverImg {
  background-position: center;
  background-size: cover;
}

.myContainer {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.myContainer h1 {
  font-size: 70px;
  margin-top: 30px;
}

.myContainer button {
  margin-top: 30px;
  background-color: rgb(234, 84, 29);
  /* background-color: #ff6347; */
  width: 140px;
  height: 50px;
}

.orangered {
  color: rgb(234, 84, 29);
  /* color: #ff6347; */
}
